/* Navigation */
 

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1.5rem;
    padding: 0px 7px;
    padding-bottom: 8px;
} 
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 200%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}



/* Navigation Bar: List Styling */

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    margin-top: auto;
    padding: auto;

}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 652px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}


/* Services Section */
#services{
    margin: 50px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 10px;
    margin: -68px 21px;
    border-radius: 30px;
    background: #f2f2f2;
    margin-bottom: 30px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 
#services h1{
    text-align: center;

}
/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 70px;
}

#clients img{
    height: 114px;
    width: 100px;
}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}


/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
    padding: 60px;
    text-align: center;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 10px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor:pointer;
}
